/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;background-image: linear-gradient(rgb(114, 74, 117), rgb(18, 63, 158));
    background-repeat:no-repeat; background-size: cover;
display: inline;}
